@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#dailyPanel" role="tab" data-toggle="tab">Daily Activity</a></li>
            <li role="presentation"><a href="#monthlyPanel" data-toggle="tab" role="tab">Monthly Activity</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="dailyPanel">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form class="form-inline" id="dailyForm">
                            <div class="form-group">
                                <input type="text" name="daily_date" class="form-control" id="daily_date" autocomplete="off" value="@DateTime.Today.ToString("dd/MM/yyyy")" placeholder="Date" />
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("daily_vessel", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("daily_activity", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("daily_unit", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <input type="number" min="0" name="daily_fuel" class="form-control" placeholder="Fuel per Liters" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="daily_duration" class="form-control" placeholder="Duration" autocomplete="off" />
                                <input type="hidden" name="daily_type" value="create" />
                            </div>
                            <button type="submit" class="btn btn-primary" id="btnSaveDaily"><i class="glyphicon glyphicon-plus"></i> Add</button>
                            <button type="button" class="btn btn-success" id="btnSaveDataDaily"><i class="glyphicon glyphicon-floppy-save"></i> Save data today</button>
                            <button type="submit" class="btn btn-warning" id="btnUpdateDaily" style="display: none;"><i class="glyphicon glyphicon-edit"></i> Update</button>
                            <button type="button" class="btn btn-default" id="btnCancelDaily" style="display: none;"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                        </form>
                    </div>
                </div>

                <table id="dailyTable" class="table table-bordered responsive nowrap display" style="width:100%">
                    <thead>
                        <tr>
                            <th>User Unit</th>
                            <th>Activity</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="monthlyPanel">
                <table id="monthlyTable" class="table table-bordered responsive nowrap display" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Vessel Name</th>
                            <th>Activity</th>
                            <th>User Unit</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <footer class="text-right">
            <strong>&copy; @DateTime.Now.Year MBCA - DAUNBIRU</strong>
        </footer>
    </div>
</div>
@*<div class="modal fade" tabindex="-1" role="dialog" id="dailyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new Daily Fuel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="text" name="tgl" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("daily_vessel", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cost</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="cost" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>*@
<style>
    div.floatright {
        float: right;
    }
</style>
@Scripts.Render("~/Script/xdkJKAds")