@{
    ViewBag.Title = "Config";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#vessel" role="tab" data-toggle="tab">Vessel</a></li>
            <li role="presentation"><a href="#mainunitPanel" role="tab" data-toggle="tab">Main Unit</a></li>
            <li role="presentation"><a href="#bargePanel" role="tab" data-toggle="tab">User Unit</a></li>
            <li role="presentation"><a href="#distancePanel" role="tab" data-toggle="tab">Distance</a></li>
            <li role="presentation"><a href="#fuelPanel" role="tab" data-toggle="tab">Fuel Cost</a></li>
            <li role="presentation"><a href="#hirePanel" role="tab" data-toggle="tab">Charter Cost</a></li>
            @*<li role="presentation"><a href="#demobPanel" role="tab" data-toggle="tab">Mob/demob Cost</a></li>*@
            @*<li role="presentation"><a href="#currencyPanel" role="tab" data-toggle="tab">Currency</a></li>*@
            <li role="presentation"><a href="#userPanel" role="tab" data-toggle="tab">User</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="vessel">
                <table id="vesselTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Vessel Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                </table>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="mainunitPanel">
                <table id="mainunitTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name Main Unit</th>
                            @*<th>User Unit</th>*@
                            <th>Description</th>

                        </tr>
                    </thead>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="bargePanel">
                <div class="col-sm-3 col-md-offset-9">
                    <div class="input-group">
                        <input type="text" id="tgl_cari" class="form-control" placeholder="Date" value="@DateTime.Today.ToString()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="tbl_cari"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </div>
                
                
                <table id="bargeTable" class="table display table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name of Unit</th>
                            @*<th>Unit Category</th>*@
                            <th>Distance Area</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="distancePanel">
                <table id="distanceTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Area Name</th>
                            <th>Distance</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="fuelPanel">
                <table id="fuelTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Date</th>
                            <th>Cost</th>
                            <th>Currency</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="hirePanel">
                <table id="hireTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Vessel Name</th>
                            <th>Charter Cost</th>
                            <th>Mob/Demob Cost</th>
                            <th>Currency</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="currencyPanel">
                <table id="currencyTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Last Update</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="demobPanel">
                <table id="demobTable" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Date</th>
                            <th>Vessel Name</th>
                            <th>Cost</th>
                            <th>Currency</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="userPanel">
                <table id="userTable" class="display table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <footer class="text-right" >
            <strong class="text-right">Marine Boat Cost Allocation - Chevron &copy; @DateTime.Now.Year</strong>
        </footer>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalBarge">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">User Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Unit Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="unit_name" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">AFE</label>
                        <div class="col-sm-10">
                            <input type="text" name="unit_afe" class="form-control" autocomplete="off" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="unit_desc" />
                            <input type="hidden" name="action" />
                            <input type="hidden" name="id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalUnitDistance">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">User Unit Distance Daily</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Unit Name</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("userunit", null, new { @class = "form-control"  })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Distance</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("distance", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Periode</label>
                        <div class="col-sm-5">
                            <input type="text" name="tgl_from" class="form-control" autocomplete="off" placeholder="From" required />
                        </div>
                        <div class="col-sm-5">
                            <input type="text" name="tgl_to" class="form-control" autocomplete="off" placeholder="To" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalMainUnit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Main Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Main Unit Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="mainunit_name" class="form-control" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" name="mainunit_desc" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalFuel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="form_fuel">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Fuel Cost</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Date Periode</label>
                        <div class="col-sm-5">
                            <input type="text" name="tgl_from" class="form-control" autocomplete="off" placeholder="From" required />
                        </div>
                        <div class="col-sm-5">
                            <input type="text" name="tgl_to" class="form-control" autocomplete="off" placeholder="To" required/>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">Date To</label>
                        <div class="col-sm-10">
                            <input type="text" name="tgl_to" class="form-control" autocomplete="off" />
                        </div>
                    </div>*@
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="text" name="tgl" class="form-control" autocomplete="off" />
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cost</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" name="cost" min="0" required/>
                            <input type="hidden" name="action" />
                            <input type="hidden" name="id" />
                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownList("currency_cat", null, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-2 control-label">Cost</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="cost" />
                            <input type="hidden" name="action" />
                            <input type="hidden" name="id" />
                        </div>
                    </div>*@
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalCurrency">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Currency</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="currency_name" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Value</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="currency_value">
                            <input type="hidden" name="currency_id">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalCharter">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Charter Cost</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Vessel</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("vessel", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Charter Start</label>
                        <div class="col-sm-9">
                            <input type="text" name="tgl_start" class="form-control" autocomplete="off" placeholder="MM/DD/YYYY" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Charter End</label>
                        <div class="col-sm-9">
                            <input type="text" name="tgl_end" class="form-control" autocomplete="off" placeholder="MM/DD/YYYY" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Cost</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="charter_cost" min="0" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mob/Demob</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="mob_cost" min="0" />
                        </div>                       
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Currency</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("currency_cat", null, new { @class = "form-control", @id="curr_cat" })
                        </div>

                    </div>
                    <input type="hidden" name="action" />
                    <input type="hidden" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalDemob">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mob/Demob Cost</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="text" name="tgl" class="form-control" autocomplete="off" placeholder="MM/DD/YYYY" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vessel</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("vessel", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("currency_cat", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cost</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="cost" />
                            <input type="hidden" name="action" />
                            <input type="hidden" name="id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modalUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">User Manager</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="text" name="password" placeholder="Password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Level</label>
                        <div class="col-sm-10">
                            <select name="level" class="form-control">
                                <option value="0">Administrator</option>
                                <option value="1">Operator</option>
                            </select>
                            <input type="hidden" name="action" />
                            <input type="hidden" name="id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/Script/cfgxYSa")