@{
    if (Session["logged"]==null)
    {
        Response.Redirect(Url.Action("index", "login"));
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/main")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index","home")"><img height="40" src="~/images/chevron2.png" style="margin-top: -10px;" /></a>
                @*@Html.ActionLink("Application name", "index", "home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("index","home")">Home</a></li>
                    <li><a href="@Url.Action("index", "report")">Report</a></li>
                    @{
                        if (Session["level"].ToString() == "0")
                        {
                            <li><a href="@Url.Action("index", "config")">Config</a></li>
                        }
                    }
                </ul>
                @{
                    if (Session["logged"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("out","login")">Logout</a></li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; PT. Daunbiru Engineering</p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>